@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');

* {
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-content: end;
  align-content: end;
  min-height: 100vh;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  background: #e5e5e5a1;
  padding: 50px 100px;
}
